.getDiscount {
  margin-top: 6.625rem;
  padding: 32px 32px 0 32px;
  background: linear-gradient(245deg, #2451c6 32.63%, #0d50ff 98.96%);
  border-radius: 12px;
  position: relative;
  height: 100%;
}
.header {
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}
.image {
  width: 41vw;
}
.formBox {
  display: flex;
  align-items: flex-end;
}
.form {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  padding-top: 56px;
  padding-bottom: 32px;
}
.form input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 16px 32px;
  color: #ffffff;
  border-radius: 6px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  z-index: 1;
}
.form input::placeholder {
  color: #ffffff;
}
.form input:focus,
input:active {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff;
}
.error {
  align-self: start;
  padding-left: 1%;
  color: #ff9292;
}
.form .errorInput {
  border: 1px solid #ff9292;
}
.form .errorInput:focus,
.form .errorInput:active {
  box-shadow: none;
}
@media (max-width: 1454px) {
  .image {
    width: 51vw;
  }
}
@media (max-width: 1054px) {
  .formBox {
    flex-direction: column-reverse;
    align-items: center;
  }
  .form {
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 56px 0 0 0;
  }
  .error {
    align-self: start;
    padding-left: 1%;
    color: #ff9292;
  }
}
@media (max-width: 768px) {
  .image {
  width: 61vw;
}
}
@media (max-width: 576px) {
  .image {
  width: 71vw;
}
}
