.emptyCartBox {
  padding-top: 40px;
}
.emptyCartText {
  font-size: 1.25rem;
  font-weight: 500;
}
.cartBox {
  display: flex;
  gap: 32px;
}
/* .productCardsBox {
  height: 582px;
  overflow: scroll;
} */
