.emptyCartBox {
  padding-top: 40px;
}
.emptyCartText {
  font-size: 1.25rem;
  font-weight: 500;
}
.cartBox {
  display: flex;
  gap: 2rem;
}
/* .productCardsBox {
  height: 582px;
  overflow: scroll;
} */
@media (max-width: 1045px) {
  .cartBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
} 
