.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  border-bottom: 1px solid #dddddd;
}
.logoImg {
  width: 70px;
  height: 70px;
}
.navList {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.navList a {
  text-decoration: none;
  color: #282828;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
}
.navList a:hover {
  color: #0d50ff;
}
.cartBox {
  position: relative;
  width: 48px;
  height: 48px;
}
.cartSchild {
  background-color: #0d50ff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartSchildText {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .logoImg {
    width: 48px;
    height: 48px;
  }
  .header {
    padding: 15px;
    padding: 15px;
  }
  .cartIcon {
  width: 45px;
  height: 45px;
}
}
 