.cartItem {
  border: 1px solid #dddddd;
  border-radius: 12px;
  display: flex;
  margin-bottom: 16px;
  flex-shrink: 0;
  flex-grow: 1;
  height: 180px;
}
.cartImg {
  width: 200px;
  height: 180px;
}
.cartItemBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 32px;
}
.cartTitle {
  font-size: 1.25rem;
  font-weight: 500;
}
.cartItemBtnBox {
  display: flex;
  padding-top: 32px;
  align-items: center;
  gap: 32px;
}
.cartPriceLine {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.priceLine {
  display: flex;
  align-items: end;
}
.price {
  font-size: 2.5rem;
  font-weight: 700;
}
.oldPrice {
  color: #8b8b8b;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 16px;
}
.closeBtn {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
}