.divider {
  height: 1px;
  width: 16px;
  background-color: #dddddd;
}
.breadCrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2.1875rem;
}
.breadCrumpsLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
