* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #282828;
}
.sectionHeader {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}
